In [2]:
print('data science')

data science

WHy you should **not remember** the Codes:
1. Open Source, 95% codes are available. Hnece, no need to memorize the codes. Understand it!
2. Cheatsheet is there, compiling all Codes in a single Sheet as per name.

Basic Terms:
- String: anything that is inside "" or ''.
- Interger: number int

In [6]:
print(2021)
print(88.8)

2021
88.8

In [13]:
a = 10  
b = 20
c = a+b
print(c)

30

* *press Enter to make new line in a single cell*

In [14]:
print(C)

NameError: name 'C' is not defined

* *Codes are Case Sensitive*

In [18]:
C = a+b

In [19]:
print(C)

30

In [20]:
a= 50
c= a+b
print(c)

70

In [22]:
b = 50
c = a+b
print(c)

100

In [1]:
import pandas as pd
df = pd.read_csv("NFLX.csv")
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-12-16,119.800003,123.000000,118.089996,122.639999,122.639999,13181000
1,2015-12-17,123.970001,126.349998,122.419998,122.510002,122.510002,17284900
2,2015-12-18,120.849998,122.190002,117.919998,118.019997,118.019997,17948100
3,2015-12-21,119.510002,119.589996,115.660004,116.629997,116.629997,11670000
4,2015-12-22,117.300003,117.430000,114.860001,116.239998,116.239998,9689000

# Data Science (Main Header) #
## Data Science (Sub Header) ##
### Data Science (Sub Sub Header and so on..) ###

__Data Science (Empheshising/Bold)__

*Data Science (Itallic)*

![](Data_Science_Methodolog.jpg)

*Inserting image in Jupyter Notebook*

[This is a clickable text that redirect to a link. Click here to visit my linkedin profile](https://www.linkedin.com/in/drobay)